{% extends 'base.html.twig' %}

{% block title %}Avis Clients{% endblock %}

{% block body %}
    <h1>Avis Clients</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>Date_de_creation</th>
                {% if is_granted ('ROLE_ADMIN') %}
                <th>actions</th>
                {% endif %}

            </tr>
        </thead>
        <tbody>
        {% for avis in avis %}
            <tr>
                <td>{{ avis.id }}</td>
                <td>{{ avis.nom }}</td>
                <td>{{ avis.email }}</td>
                <td>{% if avis.active == 1 %}
                        {{ avis.contenu }} {% endif %}</td>
                
                <td>{{ avis.note }}</td>
                <td>{{ avis.dateDeCreation ? avis.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
                
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('avis_show', {'id': avis.id}) }}">show</a>
                    <a href="{{ path('avis_edit', {'id': avis.id}) }}">edit</a>
                {% endif %}
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}<form method="post" action="{{ path('masquer', {'id': avis.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('masquer' ~ avis.id) }}">
    <button class="btn" class="btn btn-primary">masquer</button>
</form> {% endif %}</td>

<td>
                {% if is_granted('ROLE_ADMIN') %}<form method="post" action="{{ path('afficher', {'id': avis.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('afficher' ~ avis.id) }}">
    <button class="btn">afficher</button>
</form> {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('avis_new') }}">Ajouter un avis</a>
{% endblock %}
