{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<div class="container">
<div class="row">


{% for game in games %}

<div class="card border-info m-1" style="max-width: 15rem;">
<h5 class="card-title">{{game.nom}}</h5>

  <a href="{{ path('game_show', {'id': game.id}) }}"><img src="{{ game.image }}" class="card-img-top" alt="..."></a>
  <div class="card-body">
    
    <p class="badge rounded-pill bg-success">{{game.plateforme[0]}} </p>
    <p class="badge rounded-pill bg-primary"> {{game.plateforme[1]}} </p>
    
    {# <a href="{{ path('game')}}" class="btn btn-primary">Détails</a> #}
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock %}
