{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

{% if is_granted('ROLE_MEMBER') %}
<h1>Votre avis nous intéresse</h1>
<div class="formulaire">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Poster</button>
{{ form_end(form) }}
</div>
{% endif %}

<div class='filter'>
<button type="btn" class="btn btn-info" >Trier par date</button>
<button type="btn" class="btn btn-info" >Trier par note</button>
</div>

<div class="container">
<div class="row">

{% for opinions in opinion %}
<div class="col-sm-4">
<div class="card border-info mb-5" style="max-width: 20rem;">
  <div class="card-header">{{opinions.nom}}</div>
        <div class="card-body">
            {% if opinions.active == 1 %}
                <p class="card-text">{{opinions.contenu}}</p>
                {% endif %}
                {{ include('opinion/_notes.html.twig') }}
                <p class="card-text">Date de publication : {{opinions.dateDeCreation | date("m/d/Y")}}</p>
            
        <div id="button">
            {% if is_granted('ROLE_ADMIN') %}
                    <button type="btn" class="btn btn-info" ><a href="{{ path('opinion_edit', {'id': opinions.id}) }}">modifier</a></button>
                    <button type="btn" class="btn btn-success" ><a href="{{ path('opinion_show', {'id': opinions.id}) }}">détails</a></button>
                {% endif %}

            {% if is_granted('ROLE_ADMIN') %}{% if opinions.active == 1 %}<form method="post" action="{{ path('hide_content', {'id': opinions.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('hide_content' ~ opinions.id) }}">
                <button type="btn" class="btn btn-danger">masquer</button>
                </form>
            {% endif %}
                {% endif %}
            {% if is_granted('ROLE_ADMIN') %} {% if opinions.active == 0 %}<form method="post" action="{{ path('display_content', {'id': opinions.id}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('display_content' ~ opinions.id) }}">
                <button type="btn" class="btn btn-success">afficher</button>
                </form> 
            {% endif %} 
            {% endif %}
        </div>
  </div>
</div>
</div>

    {% endfor %}
    </div>
    </div>
</div>
{% endblock %}


