{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <h1>Avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ opinion.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ opinion.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ opinion.email }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ opinion.contenu }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ opinion.note }}</td>
            </tr>
            <tr>
                <th>Date_de_creation</th>
                <td>{{ opinion.dateDeCreation ? opinion.dateDeCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('opinion_index') }}">back to list</a>

    <a href="{{ path('opinion_edit', {'id': opinion.id}) }}">edit</a>

    {{ include("opinion/_delete_form.html.twig") }}
{% endblock %}
